.resultat
{
    border: 6px black groove;
    box-shadow: 10px 6px 0px black;
    /* On travaille sur la balise body, donc sur TOUTE la page */

    background-color: lightgrey; /* Le fond de la page sera noir */
    color: mediumseagreen; /* Le texte de la page sera blanc */
    font-size: 35px; /* Titres de 40 pixels */
    font-family:  Arial;

}